{% extends "ticketApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <h2 class="display-6">
               <br> Sign Up <br>  </h2>
                {{ form|crispy }}

        </fieldset>

        <div class="form-group">
                 <h2><br></h2>
            <button class="btn btn-outline-dark" type="submit">Sign Up</button>
        </div>
    </form>

        <small class="text-muted">
             <h6><br></h6>
            Already Have An Account? <a class="ml-2 text-decoration-none" href="{% url 'login' %}"> Login </a>
        </small>

</div>
{% endblock %}
